<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Produto</title>
    <link rel="stylesheet" href="../styles/admin-create-products.css">

</head>
<body>
    <nav id="navbar">
        <img id="logo-icon" src="../assets/icons/gamepad-solid.svg" alt="Logo">  
        <a href="#" class="nav-right-items">Usuários</a>
        <a href="#" class="nav-right-items">Produtos</a>
        <img id="cart-icon" class="nav-right-items" src="../assets/icons/cart-shopping-solid.svg" alt="Carrinho">
        <img id="menu-icon" src="../assets/icons/bars-solid.svg" alt="Menu">
    </nav>

    <div class="center-containers">
        <div id="search-container">
            <img id="search-icon" src="../assets/icons/magnifying-glass-solid.svg" alt="Busca">
            <input id="search-bar" type="text">
        </div>
    </div>

    <main>

        <div class="principal_container">
            <div class="plus_area">
                <div class="plus_icon">
                    <img src="../assets/icons/plus-solid.svg" alt="Image_Plus">
                </div>
                <div id="inputs"><input type="text" placeholder="Título..." id="title">
                     <input type="number" placeholder="Quantidade..." id="quantity"> 
                </div>
            </div>

            <div class="description_area">
                <textarea placeholder="Descrição..."></textarea>
            </div>

            <div class="add_more">
                <img src="../assets/icons/plus-solid.svg" alt="Image_Plus">
            </div>

            <button class="addgame_button">Cadastrar</button>

        </div>
    </main>

    
</body>
</html>