<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <nav id="navbar">
        <img id="logo-icon" src="../assets/icons/gamepad-solid.svg" alt="Logo">  
        <a href="#" class="nav-right-items">Sobre Nós</a>
        <a href="#" class="nav-right-items">Minha Conta</a>
        <img id="cart-icon" class="nav-right-items" src="../assets/icons/cart-shopping-solid.svg" alt="Carrinho">
    </nav> 
    <div class="center-containers">
        <div id="banner-container">
            <img id="banner" src="../assets/game-imgs/hollow-knight-banner.png" alt="">
            <img id="circle1" src="../assets/icons/circle.svg" alt="">
            <img id="circle2" src="../assets/icons/selected-circle.svg" alt="">
            <img id="circle3" src="../assets/icons/circle.svg" alt="">
        </div>
    </div>
    <div class="center-containers">
        <div id="search-container">
            <img id="search-icon" src="../assets/icons/magnifying-glass-solid.svg" alt="Busca">
            <input id="search-bar" type="text">
        </div>
    </div>
    <h3 class="category-titles">Plataforma</h2>
    <div class="category">
        <img class="less" src="../assets/icons/less-than-solid.svg" alt="Voltar">
        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/celeste.jpg" alt="">
            <h4 class="game-titles">Celeste</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/dead-cells.png" alt="">
            <h4 class="game-titles">Dead Cells</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/cuphead.png" alt="">
            <h4 class="game-titles">Cuphead</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/unravel.jpg" alt="">
            <h4 class="game-titles">Unravel</h3>
        </div>

        <div class="last-cover-art-container" >
            <img class="cover-art" src="../assets/game-imgs/ori-and-the-blind-forest.jpg" alt="">
            <h4 class="game-titles">Ori and the Blind Forest</h3>
        </div>

        <img class="greater" src="../assets/icons/greater-than-solid.svg" alt="Voltar">
    </div>

    <h3 class="category-titles">Roguelike</h2>
    <div class="category">
        <img class="less" src="../assets/icons/less-than-solid.svg" alt="Voltar">
        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/hades.jpg" alt="">
            <h4 class="game-titles">Hades</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/children-of-morta.jpg" alt="">
            <h4 class="game-titles">Children of Morta</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/dead-cells.png" alt="">
            <h4 class="game-titles">Dead Cells</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/neon-abyss.jpg" alt="">
            <h4 class="game-titles">Neon Abyss</h3>
        </div>

        <div class="last-cover-art-container" >
            <img class="cover-art" src="../assets/game-imgs/the-binding-of-isaac.png" alt="">
            <h4 class="game-titles">The Binding of Isaac</h3>
        </div>

        <img class="greater" src="../assets/icons/greater-than-solid.svg" alt="Voltar">
    </div>

    <h3 class="category-titles">RPG</h2>
    <div class="category">
        <img class="less" src="../assets/icons/less-than-solid.svg" alt="Voltar">
        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/skyrim.jpg" alt="">
            <h4 class="game-titles">Skyrim</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/dark-souls3.jpg" alt="">
            <h4 class="game-titles">Dark Souls 3</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/fallout-nv.jpg" alt="">
            <h4 class="game-titles">Fallout New Vegas</h3>
        </div>

        <div class="container-cover-arts">
            <img class="cover-art" src="../assets/game-imgs/fallout3.jpg" alt="">
            <h4 class="game-titles">Fallout 3</h3>
        </div>

        <div class="last-cover-art-container" >
            <img class="cover-art" src="../assets/game-imgs/fallout4.jpg" alt="">
            <h4 class="game-titles">Fallout4</h3>
        </div>

        <img class="greater" src="../assets/icons/greater-than-solid.svg" alt="Voltar">
    </div>
    
    <footer>
        <div id="footer-title-container">
            <h1 id="footer-title">Créditos</h3>
        </div>
        <span id="credits">
            Hollow Knight - banner: <a href="https://www.twitch.tv/hollowknightcommunity">https://www.twitch.tv/hollowknightcommunity</a> 
            <br>
            Celeste - arte de capa: <a href="https://pt.wikipedia.org/wiki/Ficheiro:Celeste_box_art_cropped.png">https://pt.wikipedia.org/wiki/Ficheiro:Celeste_box_art_cropped.png</a>
            <br>
            Dead Cells - arte de capa: <a href="https://en.wikipedia.org/wiki/Dead_Cells">https://en.wikipedia.org/wiki/Dead_Cells</a>
            <br>
            Cuphead - arte de capa: <a href="https://pt.wikipedia.org/wiki/Ficheiro:Cuphead_capa.png">https://pt.wikipedia.org/wiki/Ficheiro:Cuphead_capa.png</a>
            <br>
            Unravel - arte de capa: <a href="https://en.wikipedia.org/wiki/Unravel_%28video_game%29">https://en.wikipedia.org/wiki/Unravel_%28video_game%29</a>
            <br>
            Ori and the Blind Forest - arte de capa: <a href="https://airbornstudios.artstation.com/projects/05YwK">https://airbornstudios.artstation.com/projects/05YwK</a>
            <br>
            Hades- arte de capa: <a href="https://en.bdjogos.com.br/game.php?id=8865">https://en.bdjogos.com.br/game.php?id=8865</a>
            <br>
            Children of Morta - arte de capa: <a href="https://boardgamegeek.com/image/8098529/children-of-morta">https://boardgamegeek.com/image/8098529/children-of-morta</a>
            <br>
            Neon Abyss - arte de capa: <a href="https://store.epicgames.com/pt-BR/p/neon-abyss">https://store.epicgames.com/pt-BR/p/neon-abyss</a>
            <br>
            The Binding of Isaac - arte de capa: <a href="https://store.epicgames.com/pt-BR/p/the-binding-of-isaac-repentance">https://store.epicgames.com/pt-BR/p/the-binding-of-isaac-repentance</a>
            <br>
            Skyrim - arte de capa: <a href="https://www.amazon.de/-/en/Skyrim-Wallscroll-Dragonborn/dp/B00HDFAA9G">https://www.amazon.de/-/en/Skyrim-Wallscroll-Dragonborn/dp/B00HDFAA9G</a>
            <br>
            Dark Souls 3 - arte de capa: <a href="https://shopretrograde.com/products/dark-souls-3-pc-deluxe-edition">https://shopretrograde.com/products/dark-souls-3-pc-deluxe-edition</a>
            <br>
            Fallout New Vegas - arte de capa: <a href="https://store.epicgames.com/pt-BR/p/fallout-new-vegas">https://store.epicgames.com/pt-BR/p/fallout-new-vegas</a>
            <br>
            Fallout 3 - arte de capa: <a href="https://pt.wikipedia.org/wiki/Ficheiro:Fallout_3_cover_art.PNG">https://pt.wikipedia.org/wiki/Ficheiro:Fallout_3_cover_art.PNG</a>
            <br>
            Fallout 4 - arte de capa: <a href="https://en.wikipedia.org/wiki/Fallout_4">https://en.wikipedia.org/wiki/Fallout_4</a>
        </span>
    </footer>
</body>
</html>