<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="../styles/style_Register_Screen.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap" rel="stylesheet">

</head>
<body>

    <main>
        <section id="logo_class">
            <div class="logo"><img src="../assets/gamepad-solid.svg" alt="imagem poggers"></div>
            <h1>Registro</h1>
        </section>

        <section id="placeholder_class">
            <div>
                <input type="text" placeholder="Nome:">
            </div>

            <div>
                <input type="text" placeholder="Endereço:">
            </div>

            <div>
                <input type="tel" placeholder="Telefone:">
            </div>

            <div>
                <input type="email" placeholder="Email:">
            </div>
            
            <div>
                <input type="password" placeholder="Senha:">
            
            </div>

            <div>
                <button id="Cadastro_button" type="submit">Cadastrar</button>
            </div>
            

            <p>Ainda não tem uma conta? <a href="#">Cadastre-se</a></p>
            
        </section>
    </main>
    
</body>
</html>