@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

#navbar {
  display: flex;
  background-color: #01257d;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin-bottom: 35px;
}

.nav-right-items {
  padding: 0px 10px 0px 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#logo-icon {
  width: 108px;
  height: 65px;
  color: white;
  margin-right: auto;
  cursor: pointer;
}

#cart-icon {
  width: 54px;
  height: 47px;
  color: white;
}

#menu-icon {
    display: none;
    width: 45px;
    height: 38.7px;
    cursor: pointer;
    margin-right: 10px;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-containers {
  display: flex;
  justify-content: center;
}

#search-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid #a1a1a1;
  border-radius: 30px;
  background-color: #f1f1f1;
  width: 400px;
  height: 34px;
}

#search-bar {
  background: transparent;
  border: none;
  outline: none;
  padding: 6px 0px;
  width: 352px;
  height: 34px;
  margin-left: 5px;
}

#search-icon {
  width: 22.65px;
  height: 22.65px;
  cursor: pointer;
  margin: 5px 0px 0px 5px;
}

.principal_container {
  background-color: #003399; /* Azul escuro do container */
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 530px;
  height: 500px;
}

.plus_icon {
  background-color: white;
  width: 100px;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003399;
  margin-bottom: 20px;
  cursor: pointer;
}

.plus_icon img {
  width: 100px;
  height: 100px;
}

.plus_area {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.description_area textarea {
  background-color: #003399;
  border: 1px solid #00ccff; /* Borda azul clara dos inputs */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.plus_area input {
  background-color: #003399;
  border: 1px solid #00ccff; /* Borda azul clara dos inputs */
  color: white;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#inputs {
  padding-left: 50px;
}

#title {
  width: 250px;
  height: 35px;
  border-radius: 10px;
  margin: 50px 0px 10px 50px;
}

#quantity {
  margin-left: 50px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

.description_area textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
  min-height: 100px;
  width: 530px;
  height: 150px;
}

.add_more {
  background-color: #00ccff; /* Azul claro do botão de adicionar mais */
  color: #003399;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  margin-top: 10px;
  margin: 0px 500px 0px 10px;
  margin-left: 20px;
}

.add_more img {
  width: 20px;
  height: 20px;
}

.addgame_button {
  background-color: #00ccff; /* Azul claro do botão cadastrar */
  color: #003399;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 50px 0px 0px 400px;
}

.addgame_button:hover {
  background-color: #01257d; /* Tom mais escuro ao passar o mouse */
  color: #00ccff;
}

@media (max-width: 600px) {
  .nav-right-items {
    display: none;
  }

  #menu-icon {
    display: inherit;
  }

  main {
    margin: 27px 40px 27px 40px;
  }
  .principal_container {
    border-radius: 7px;
    padding: 20px;
    gap: 7px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    width: 353px;
    height: 333px;
  }

  .plus_icon {
    width: 67px;
    height: 67px;
    padding: 20px;
    margin-bottom: 13px;
  }

  .plus_icon img {
    width: 67px;
    height: 67px;
  }

  .plus_area {
    gap: 13px;
  }

  .description_area textarea {
    padding: 7px;
    border-radius: 3px;
    font-size: 0.7em;
    margin-bottom: 7px;
  }

  .plus_area input {
    padding: 7px;
    font-size: 0.7em;
    margin-bottom: 7px;
  }

  #inputs {
    padding-left: 33px;
  }

  #title {
    width: 167px;
    height: 23px;
    border-radius: 7px;
    margin: 33px 0px 7px 33px;
  }

  #quantity {
    margin-left: 33px;
    width: 100px;
    height: 20px;
    border-radius: 3px;
  }

  .description_area textarea {
    min-height: 67px;
    width: 353px;
    height: 100px;
  }

  .add_more {
    width: 33px;
    height: 27px;
    font-size: 2em;
    margin-top: 7px;
    margin: 0px 333px 0px 7px;
    margin-left: 13px;
  }

  .add_more img {
    width: 13px;
    height: 13px;
  }

  .addgame_button {
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 0.6em;
    margin: 33px 0px 0px 290px;
  }
}
