.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.main {
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
}

.cartItem {
    background-color: #002684;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.itemImage {
    width: 100px;
    height: 140px;
    margin-right: 20px;
    border: 2px solid white;
}

.itemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.itemTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.quantityControl {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    overflow: hidden;
}

.trash{
    width: 18px;
    height: 21px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.quantityButton {
    background: none;
    border: none;
    color: #002684;
    font-size: 18px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    font-size: x-large;
    font-weight: 900;
    cursor: pointer;
}

.quantityDisplay {
    color: #002684;
    font-weight: bold;
    padding: 0 15px;
    font-size: 18px;
}

.stock {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.itemPrice {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}

.totalContainer {
  width: 81.5%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.divisionLine {
    width: 80%;
    color: lightgrey;
}

.total {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}


.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.continueButton {
    background-color: #002684;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.h1 {
    margin-bottom: 10px;
}

.emptyCartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyCart {
    color: #01257D;
    font-weight: bold;
    min-height: 25px;
    padding: 5px 5px 5px 5px;
}

.a {
    color: #01257D;
    padding: 2px;
}

@media (max-width: 768px) {
    .quantityControl {
        margin-left: 20px;
    }

    .itemImage {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
        max-width: 150px;
    }

    .itemInfo {
        width: 100%;
        margin-bottom: 15px;
    }

    .itemPrice {
        align-self: flex-end;
    }
}