@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');


html {
    height: 100%;
}
body {
    margin: 0%;
    font-family: Inter;
    color: #1A1A1A;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: #00FFFF;
}

.center-containers {
    display: flex;
    justify-content: center;
}

#banner-container {
    position: relative;
}

#banner {
    width: 960px;
    height: 360px;
    border-radius: 30px;
    cursor: pointer;
}

.circlesContainer {
    display: flex;
    justify-content: center;
}

.circles {
    position: absolute;
    width: 12.4px;
    height: 12.4px;
    top: 90%;
}

.category-titles {
    margin: 100px 0px 10px 19%;
}

.category {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-cover-arts {
    width: 144px;
    height: 216px;
    margin-right: 50px;
}

.last-cover-art-container {
    width: 144px;
    height: 216px;
}

.cover-art {
    width: 144px;
    height: 216px;
    border: 5px solid #01257D;
    cursor: pointer;
}

.game-titles {
    width: 144px;
    text-align: center;
    margin-top: 0px;
}

.less {
    padding: 95px 20px 0px 0px;
    width: 32.25px;
    height: 32.25px;
    cursor: pointer;
}

.greater {
    padding: 95px 0px 0px 20px;
    width: 32.25px;
    height: 32.25px;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .category div:nth-last-child(-n + 3){
        display: none;
    }
    
    .category {
        margin-left: 5%;
    }
    
    .less {
        display: none;
    }
    
    .greater {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #banner {
        width: 480px;
        height: 180px;
    }
    
   .circles {
        width: 6.3px; 
        height: 6.3px; 
   } 
   
   .category-titles {
        margin: 100px 0px 10px 50px;
   }
   
    #credits {
        margin-left: 2%;
    }
}
