.main {
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 144px;
    height: 216px;
    margin-right: 5vw;
    margin-left: 5vw;
    border: 5px solid #01257D;
}

.title {
    margin: 0px;
    margin-bottom: 25%;
}