.containerWhite {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.containerBlue {
    background-color: #01257D;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.img {
  width: 115.25px;
  height: 115.25px;
}

.titleBlue {
    font-family: Inter;
    color: #01257D;
    margin-bottom: 10px;
}

.msgBlue {
  font-family: Inter;
  text-align: justify;
  color: #01257D;
}

.titleWhite {
    font-family: Inter;
    color: white;
    margin-bottom: 10px;
}

.msgWhite {
  font-family: Inter;
  text-align: justify;
  color: white;
}