body{
    font-family: sans-serif;
    background-color: #01257d;
    margin: 0%;
    font-family: Inter;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

main{
    font-family: "Lilita One";
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_class{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    font-size: 35px;
}

h1{
    margin: 15px;
}
.logo img{
    background-color: #01257d;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#placeholder_class{
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div input{
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    width: 280px;
    height: 30px;
}

#Login_button{
    width: 280px;
    height: 30px;
    background-color: #00ffff;
    color: #0056b3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#Login_button:hover{
    background-color: #0056b3;
    color: #00ffff;
}
p{
    font-size: 15px;
    color: white;
}
p a{
    color: #00ffff;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

@media(max-width:360px ){
    #logo_class{
        padding-top: 20px;
        font-size: 12px;
        padding-left: 13px;
    }

    h1{
        margin: 5px;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }

    #placeholder_class{
        gap: 3px;
        padding-left: 20px;
    }
    div input{
        border-radius: 10px;
        width: 93px;
        height: 10px;
    }

    #Login_button{
        width: 93px;
        height: 10px;
        border-radius: 7px;
    }
    p{
        font-size: 5px;
    }
}
