@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');


html {
    height: 100%;
}
body {
    margin: 0%;
    font-family: Inter;
    color: #1A1A1A;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: #00FFFF;
}

#navbar {
    display: flex;
    background-color: #01257D;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-bottom: 35px;
}

.nav-right-items {
    padding: 0px 10px 0px 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#logo-icon {
    width: 108px;
    height: 65px;
    color: white;
    margin-right: auto;
    cursor: pointer;
}

#cart-icon {
    width: 54px;
    height: 47px;
    color: white;
}

.center-containers {
    display: flex;
    justify-content: center;
}

#banner-container {
    position: relative;
}

#banner {
    width: 960px;
    height: 360px;
    border-radius: 30px;
    cursor: pointer;
}

#circle1 {
    position: absolute;
    width: 12.4px;
    height: 12.4px;
    top: 90%;
    left: 48%;
}

#circle2 {
    position: absolute;
    width: 12.4px;
    height: 12.4px;
    top: 90%;
    left: 50%;
}

#circle3 {
    position: absolute;
    width: 12.4px;
    height: 12.4px;
    top: 90%;
    left: 52%;
}

#search-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    border: 1px solid #a1a1a1;
    border-radius: 30px;
    background-color: #F1F1F1;
    width: 352px;
    height: 34px;
}

#search-bar {
    background: transparent;
    border: none;
    outline: none;
    padding: 6px 0px;
    width: 352px;
    height: 34px;
    margin-left: 5px;
}

#search-icon {
    width: 22.65px;
    height: 22.65px;
    cursor: pointer;
    margin: 5px 0px 0px 5px;
}

.category-titles {
    margin: 100px 0px 10px 200px;
}

.category {
    display: flex;
    justify-content: start;
    margin-left: 200px;
    width: 100%;
}

.container-cover-arts {
    width: 144px;
    height: 216px;
    margin-right: 50px;
}

.last-cover-art-container {
    width: 144px;
    height: 216px;
    cursor: pointer;
}

.cover-art {
    width: 144px;
    height: 216px;
    cursor: pointer;
}

.game-titles {
    width: 144px;
    text-align: center;
    margin-top: 0px;
}

.less {
    padding: 95px 20px 0px 0px;
    width: 32.25px;
    height: 32.25px;
    cursor: pointer;
}

.greater {
    padding: 95px 0px 0px 20px;
    width: 32.25px;
    height: 32.25px;
    cursor: pointer;
}

footer {
    background-color: #01257D;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 350px;
}

#footer-title-container {
    display: flex;
    justify-content: center;
}

#footer-title {
    font-family: Lilita One;
}

#credits {
    display: block;
    margin-left: 15%;
    width: 100%;
}